.totalPayment {
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2em;

    table {
        width: 100%;
        border-spacing: 10px 1em;

        td:last-of-type {
            text-align: right;
            font-weight: bold;
        }
        hr {
            color: hsl(0, 0%, 70%);
        }
        .totalMoney {
            font-weight: 900;
        }
    }
    a {
        padding: 15px;
        width: 100%;
        border: none;
        border-radius: 10px;

        font-size: 1em;
        line-height: 1em;
        background-color: hsl(218 100% 60%);
        text-decoration: none;
        text-align: center;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: hsl(218 100% 70%);
        }
        
    }
}