.cartItem {
    
    position: relative;

    display: flex;
    gap: 20px;
    align-items: center;

    padding: 15px 20px 15px 15px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 10px;
    overflow: hidden;

    img {
        display: block;
        width: 100px;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        background-color: gainsboro;
    }

    input[type="checkbox"] {
        width: 1.7em;
        aspect-ratio: 1;
        accent-color: hsl(218 100% 50%);
    }

    .textContainer {
        display: flex;
        align-items: start;
        justify-content: space-between;

        flex-grow: 1;

        .name {
            font-size: 1.2em;
            font-weight: 400;
            width: 60%;
            color: black;
            text-decoration: none;
            
            &:hover {
                color: hsl(218 100% 50%);
            }
        }
        .price {
            font-weight: 600;
            font-size: 1.4em;
        }
        .numberInput {
            margin-top: .6em;
        }
        >button {
            position: absolute;
            top: 10px;
            right: 10px;

            display: flex;
            align-items: center;

            padding: 5px;
            border: none;
            border-radius: 50%;
            aspect-ratio: 1;

            color: white;
            background-color: black;

            &:hover {
                cursor: pointer;
            }
        }
    }
}