.comment {
    display: flex;
    align-items: start;
    max-width: 600px;

    .avatar {
        flex-shrink: 0;
        width: 50px;
        margin-right: 20px;
        aspect-ratio: 1/1;
        border: 1px solid black;
        border-radius: 100%;
        overflow: hidden;
    }
    
    .content {
        padding: 10px;
        border-radius: 15px;
        color: hsl(0, 0%, 10%);
        background-color: hsl(0, 0%, 85%);

        .title {
            margin: 0;
            font-weight: 500;
            font-size: .7em;
        }
        h1 {
            font-size: .9em;
            font-weight: bold;
        }

        p {
            margin-top: 10px;
        }
    }
}
