                
.checkout {
    background-color: gainsboro;
    .checkoutContainer {
        display: flex;

        margin: 10px 20px;
        background-color: white;
        border-radius: 15px;

        .checkoutForm {
            width: 60%;
        }

        .success {
            width: 60%;
        }

        .carts {
            flex-grow: 1;
            padding: 50px 40px;
            background-color: hsl(0, 0%, 96%);
        }
        
    }
    .qrPayment {
        width: fit-content;
        padding: 20px;
        margin: auto;
    }
}