:root {
  --blue2: hsl(225 89.5% 25%);
  --blue5: #2659f3;
  --blue6: hsl(225 89.5% 65%);
  --blue7: hsl(225 89.5% 75%);
  --blue9: hsl(225 89.5% 93%);

  --red5: hsl(0 100% 58%);
  --red6: hsl(0 100% 68%);

  --yellow: hsl(37 96.7% 52.4%);

  --grey9: hsl(0, 0%, 95%);
  --grey8: hsl(0, 0%, 85%);
  --grey7: hsl(0, 0%, 75%);
  --grey6: hsl(0, 0%, 65%);
  --grey5: hsl(0, 0%, 55%);
  --grey4: hsl(0, 0%, 45%);
  --grey3: hsl(0, 0%, 35%);
  --grey2: hsl(0, 0%, 25%);
  --grey1: hsl(0, 0%, 15%);

  --green4: hsl(153 80% 38%);
  --green5: hsl(153 80% 44%);
}
.button {
  color: blue;
  background-color: red;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: gainsboro;
}

button:hover {
    cursor: pointer;
}  

html {
  background-color: hsl(0, 0%, 90%);
  font-family: 'Roboto', sans-serif;
}
.body {
  max-width: 1366px;
  margin: auto;
}